{% extends "Activitylog/base.html" %}
{% block content %}

<!-- Latest compiled and minified CSS -->
<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>	
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.css" rel="stylesheet"/>
<link href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker3.css" rel="stylesheet"/>
<script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.js"></script>

<div class="form-inline">


  <label class="sr-only control-label col-sm-1" style="height: 12px" for="id">ID</label>
  <input type="text" class="form-control mb-2 mr-sm-2" id="id" placeholder="Enter id">

  <label class="sr-only control-label col-sm-1" style="height: 12px" for="real_name">Name</label>
  <input type="text" class="form-control mb-2 mr-sm-2" id="real_name" placeholder="Enter name">

   <label class="sr-only control-label col-sm-1" style="height: 12px" for="location">Location</label>
   <input type="text" class="form-control mb-2 mr-sm-2" id="location" placeholder="Continent/City">

	<div class='input-group date' id='start_date' style="margin-left: 40px ">
          <input type='text' class="form-control" placeholder="Activity Start Date" id="initial_date"/>
          <span class="input-group-addon">
    	  <span class="glyphicon glyphicon-calendar"></span>
      </span>
    </div>
    <div class='input-group date' id='end_date' style="margin-left: 40px">
          <input type='text' class="form-control" placeholder="Activity End Date" id="final_date"/>
          <span class="input-group-addon">
    	  <span class="glyphicon glyphicon-calendar"></span>
      </span>
    </div>
  <button type="submit" class="btn btn-primary col-md-offset-1" id="new_activity">Add New Activity</button>
</div>

  <script>
$('#initial_date, #final_date').datepicker();

// $('#initial_date').on('changeDate', function (selected) {
//   $('#final_date').datepicker('setDate', selected.date);
//   $(this).datepicker('hide');
// });
$( document ).ready(function() {
	$(document).on("click", "#new_activity", function(){
		var id 			=	$('#id').val()
		var real_name	=	$('#real_name').val()
		var location 	=	$('#location').val()
		var start_date	=	$('#initial_date').val()
		var end_date	=	$('#final_date').val()

	    $.ajax({
	        url : "/update_activities/",
	        type : "post",
	        dataType: 'json',
	        data : {	            
	        	'id'	 	: id,
	            'real_name'	: real_name,
	            'location'	: location,
	            'start_date': start_date,
	            'end_date'	: end_date,},
		})
		alert("Activity added successfully")

	});
  
});

  </script>
{% endblock content %}